{% extends "base.html" %}

{% block breadcrumb-items %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'coc' %}">Code of Conduct</a></li>
<li class="breadcrumb-item" aria-current="page">Code of Conduct Reporting Guidelines</li>
{% endblock %}

{% block content %}
<p>
If you want to make a code of conduct report, you can contact the Code of
Conduct committee by:
</p>

<ul>
  <li>Calling or sending a text message (during the conference itself only)</li>
  <li><a href="mailto:coc@uk.python.org" class="">emailing us at coc@uk.python.org</a></li>
  <li>Sending a private message to one of the organisers&nbsp;in the conference Slack</li>
  <li>Finding one of the conference organisers at the conference</li>
</ul>

<p>
Should an incident occur, please report it, preferably in writing. If in doubt,
report your concerns. There is very little&nbsp;harm in an unneccessary report,
but potentially significant harm in an unreported problem.
</p>

<p><strong>All reports will be kept confidential.</strong></p>

<p>
When reporting the incident, try to gather as much information as available. A
committee member can assist you in writing the report or collecting
information. Please do not interview people about the incident, but leave this
to a committee member.
</p>

<p>The important information consists of:</p>

<ul>
  <li>identifying information about the individuals involved</li>
  <li>the nature of the problematic&nbsp;behaviour</li>
  <li>the approximate time of the behaviour</li>
  <li>the circumstances surrounding the incident</li>
</ul>

<p>
Committee members will be well-briefed on how to deal with incident reports,
and on how to further proceed with the situation. See these guidelines for more
information.
</p>

<p>
Committee members will be happy to help participants contact venue security or
the police, provide escorts, or otherwise assist attendees.
</p>
{% endblock content %}
