{% extends "base.html" %}

{% load static %}

{% block jumbotron-title %}Sponsorship{% endblock %}

{% block breadcrumb-items %}
{{ block.super }}
<li class="breadcrumb-item" aria-current="page">Sponsorship</li>
{% endblock %}

{% block content %}
<div class="row align-items-center">

  <div class="col col-12 col-lg-6">
    <p>Sponsoring PyCon UK is a great way for your company to support the Python community, promote your products to more than seven hundred delegates, and meet Python developers who are looking for work.</p>
    {#<p><a href="{% url 'our-sponsors' %}" class="btn btn-danger btn-block">Meet our sponsors</a></p>#}
    <p>We couldn't run the conference without the generous support of our sponsors.</p>
    <p>In return, we will ensure that your company is given exposure before, during, and after the conference, and we will work with you so that you get exactly what you're looking for out of sponsoring the conference.</p>
    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-block">Talk to us about sponsorship</a></p>
    <p><a href="{% url 'sponsor-information' %}" class="btn btn-warning btn-block">Practical information for sponsors</a></p>
  </div>

  <div class="col col-12 col-lg-6">
    <figure>
      <img src="{% static "img/sponsors-in-the-marble-hall2.jpg" %}" class="img-fluid">
      <figcaption>Sponsor booths in the Marble Hall at PyCon UK 2017</figcaption>
    </figure>
  </div>

</div>

<h2>Sponsorship benefits</h2>
<p>We will promote sponsors before the conference through social media and in the <a href="http://uk.python.org/" rel="nofollow">UK Python News</a> newsletter. In addition, your logo will be placed on the conference website and on signs around the conference venue.</p>
<p>Sponsors receive free tickets for the duration of the conference.</p>
<p>For Silver and higher levels, your company will be able to set up a booth in the central <a href="http://www.cardiffcityhall.com/rooms/marble-hall" rel="nofollow">Marble Hall</a> to allow you to interact with attendees for the duration of the conference.</p>
<p>We run a jobs fair over the Sunday lunchtime, allowing sponsors to meet conference attendees who are (or expect to be soon) looking for work.</p>

<h2>Sponsorship packages</h2>
<div class="row">

  <div class="col  order-xs-2 order-sm-2 order-md-2 order-lg-2 order-xl-2">
    <div class="card bg-primary">

      <div class="card-header">
        <h3>Headline: price to be agreed</h3>
      </div>

      <div class="card-body">
        <p>There will be only one Headline sponsor, with the biggest presence at the event. This is an ideal opportunity to put yourself centre-stage in front of our 700+ audience. We'll discuss and agree terms of the sponsorship package with you in detail to create something that really works for you.</p>
      </div>

    </div>
  </div>

</div>

<h3>Tiered packages</h3>

<div class="row">

  <div class="col col-12 order-xs-3 col-sm-12 order-sm-3 col-md-6 order-md-3 order-lg-1 order-xl-1">
    <div class="card bg-danger">

      <div class="card-header">
        <h4>Bronze: £1000 (+ £200 VAT)</h4>
      </div>

      <div class="card-body">
        <ul>
          <li>1 complimentary ticket</li>
          <li>mentions and public thanks at the event, on our website and on social media</li>
          <li>free access to the jobs poster board in the Marble Hall</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col col-12 order-xs-3 col-sm-12 order-sm-3 col-md-6 order-md-3 order-lg-1 order-xl-1">
    <div class="card bg-warning">

      <div class="card-header">
        <h4>Silver: £2000 (+ £400 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">Similar to Bronze, plus</p>
        <ul>
          <li class="card-text">2 complimentary tickets</li>
          <li class="card-text">booth space with a table in the Marble Hall</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col col-12 order-xs-3 col-sm-12 order-sm-3 col-md-6 order-md-3 order-lg-1 order-xl-1">
    <div class="card bg-primary">

      <div class="card-header">
        <h4>Gold: £4000 (+ £800 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">Similar to Silver, plus:</p>
        <ul>
          <li class="card-text">4 complimentary tickets</li>
          <li class="card-text">your banner in the Assembly Room (main auditorium)</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col col-12 order-xs-2 col-sm-12 order-sm-2 col-md-6 order-md-2 order-lg-2 order-xl-2">
    <div class="card bg-danger">

      <div class="card-header">
        <h4>Platinum: £8000 (+ £1600 VAT)</h4>
      </div>

      <div class="card-body">
        <p>Similar to Gold, plus:</p>
        <ul>
          <li>8 complimentary tickets</li>
          <li>a larger stand in the Marble Hall</li>
        </ul>
      </div>

    </div>
  </div>

</div>

<h3>Other options</h3>
<p>For each of the options below, you'll be prominently associated with the service you're sponsoring, and able to place your publicity materials such as banners and logos in appropriate places. You'll also have free access to the jobs poster board in the Marble Hall.</p>
<div class="row">

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-primary">

      <div class="card-header">
        <h4>Lunches: £8000 (+ £1600 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">Over the five days of the conference, our 700 attendees will have several lunches each. </p>
        <p class="card-text">Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-primary">

      <div class="card-header">
        <h4>Refreshments: £6000 (+ £1200 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">PyCon UK attendees will consume about ten thousand cups of tea and coffee and eat a similar number of Welsh cakes.</p>
        <p class="card-text">Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-warning">

      <div class="card-header">
        <h4>Speech-to-text service: £4000 (+ £800 VAT)</h4>
      </div>

      <div class="card-body">
        <p>Every talk in the main auditorium will be supported by our speech-to-text service, providing live captions on a number of screens in the room.</p>
        <p>Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-warning">

      <div class="card-header">
        <h4>Crèche: £4000 (+ £800 VAT)</h4>
      </div>

      <div class="card-body">
        <p>PyCon UK provides a free crèche, for the benefit of attendees who would otherwise be unable to attend due to childcare cost or commitments.</p>
        <p>Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-danger">

      <div class="card-header">
        <h4>Audio-visual services: £5000 (+ £1000 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">The large screen, the PA system and lighting in the main auditorium - as enjoyed by all of our attendees.</p>
        <p class="card-text">Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-danger">

      <div class="card-header">
        <h4>Official conference photography: £2000 (+ £400 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">The professional conference photographer will be present for all five days and will create a lasting record of the event.</p>
        <p class="card-text">Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-primary">

      <div class="card-header">
        <h4>Evening social events: £2000 (+ £400 VAT) each</h4>
      </div>

      <div class="card-body">
        <p>Each evening after the conference there will be Python-related social events at the venue - a quiz, a Python music night and more. Last year these sessions were packed. </p>
        <p>Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

  <div class="col col-12 col-sm-12 col-md-6">
    <div class="card bg-primary">

      <div class="card-header">
        <h4>Lanyards &amp; badges: £6000 (+ £1200 VAT)</h4>
      </div>

      <div class="card-body">
        <p class="card-text">Support the lanyards and our collectors-item badges, and every single attendee will wear your name and logo.</p>
        <p class="card-text">Includes 1 complimentary ticket.</p>
      </div>

    </div>
  </div>

</div>

<div class="card bg-warning">

  <div class="card-header">
    <h4>Interested?</h4>
  </div>

  <div class="card-body">
    <p>We'd be delighted to have you as part of our event. If you'd like to know more, just get in touch.</p>
    <p style="text-align: center;"><a href="{% url 'contact' %}" class="btn btn-primary">Talk to us about sponsorship</a></p>
    {#<p style="text-align: center;"><a href="/sponsorship/brochure/" class="btn btn-danger">Download our sponsorship brochure (PDF)</a></p>#}
  </div>

</div>
{% endblock content %}
